@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --c1r1: #f95b11;
    --c1r2: #fff;
    --c1r3: #000;
    --c1r4: #f42f1c;
    --c1r5: limegreen;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--c1r3);
}

section {
    padding: 4rem 9%;
    margin-top: 8rem;
}

section h4 {
    margin: 0 0 1rem 25rem;
    padding: .2rem;
    width: 50%;
    font-size: 3rem;
    color: var(--c1r2);
    text-transform: none;
    text-align: center;
    align-items: center;
    letter-spacing: .1rem;
    clip-path: polygon(0% 15%, 34% 33%, 15% 0%, 85% 0%, 66% 34%, 100% 15%, 100% 85%, 67% 64%, 85% 100%, 15% 100%, 31% 65%, 0% 85%);
    background: var(--c1r4);
}

section h3 {
    font-size: 8rem;
    color: var(--c1r2);
    text-transform: none;
    text-align: center;
    letter-spacing: .2rem;
    font-weight: 900;
}

section p {
    color: rgba(255, 255, 255, 0.986);
    font-size: 3rem;
    text-transform: capitalize;
    line-height: 2.5rem;
    word-wrap: normal;
    font-weight: bolder;
}

.btn {
    margin-top: 2rem;
    padding: 1.3rem 4rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-weight: 500;
    color: var(--c1r3);
    background: var(--c1r2);
    border: none;
    border-radius: .5rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: var(--c1r3);
    box-shadow: 0 2rem 2rem rgba(255, 85, 94, 0.4);
    color: var(--c1r2);
    transform: translateY(-1rem);
}

.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background: var(--c1r4);
    color: var(--c1r2);
    padding: 3rem 9%;
    align-items: center;
    justify-content: space-between;
}

.head h1 {
    font-size: 2.5rem;
}

.head .fa-pizza-slice {
    animation: icon 5s ease infinite;
}

@keyframes icon {
    25% {
        transform: translateY(-1.5rem);
    }

    50% {
        transform: translateY(1.5rem);
    }
}

.head .navbar a {
    color: var(--c1r2);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 2rem;
}

.head .navbar a:hover {
    color: var(--c1r3);
    transition: .4s ease;
}

.head .side-bar i {
    padding: 1.5rem;
    font-size: 2.1rem;
    border: none;
    background: var(--c1r2);
    color: var(--c1r4);
}

.head .side-bar i:hover {
    background: var(--c1r3);
    color: var(--c1r4);
    transition: .4s ease;
}

#bars {
    display: none;
}

.search-bar {
    height: 7rem;
    padding: 0 1rem;
    display: flex;
    position: absolute;
    top: 99%;
    left: 50%;
    right: 0;
    align-items: center;
    background: var(--c1r3);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 0 0);
}

.search-bar input {
    width: 100%;
    background: none;
    border: hidden;
    text-transform: none;
    font-size: 1.5rem;
    color: #fff;
}

.search-bar.active {
    border: hidden;
    transition: .2s ease;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

/* home */
.home {
    height: 100vh;
    background: url(/images/henry-perks-TStCoAiFjDY-unsplash.jpg);
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home-content {
    display: grid;
    grid-template-columns: 1.2fr;
}

.inner-content {
    max-width: 100%;
    margin-top: 20rem;
    text-align: center;
}

.inner-content i {
    color: var(--c1r1);
}

/* About page */
.about-sec {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}

.img img {
    width: 45rem;
    height: auto;
    text-align: center;
    animation: icon 4s ease infinite;
}

.about-content h3 {
    background: url(/images/background1.png);
    background-size: cover;
    background-position: center;
    color: var(--c1r4);
}

.about .btn {
    border: .1rem solid var(--c1r4);
}

.about-content p {
    padding-bottom: 2rem;
    color: var(--c1r3);
    font-size: 1.4rem;
    font-weight: 600;
}

.about-inner h5 {
    padding: 1rem 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
}

.about-inner .fa-circle-arrow-right {
    color: var(--c1r4);
    padding-right: 1rem;
}

.about-inner h5:hover {
    transform: translateX(2rem);
    transition: 1s ease;
}




/* media queries */

@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}

@media(max-width:768px) {
    #bars {
        display: inline-block;
    }

    .search-bar input {
        width: 100%;
    }

    .head .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        background: var(--c1r3);
        font-size: 2rem;
    }

    .head .navbar a {
        margin: 2rem 2.5rem;
        display: block;
        border-right: .1rem solid var(--c1r4);
    }

    .head .navbar a:hover {
        transform: translateX(2rem);
    }

    .head .navbar.active {
        right: .5rem;
        transition: .4s ease-in;
    }
}